html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif; /* Set a default font for consistency */
}

#title {
    text-align: center;
    margin: 20px 0;
    font-size: 2em; /* Bigger font size */
    font-weight: bold; /* Bold font */
    padding: 3px 0; /* Padding to add some space around the title */
}

#description {
    text-align: center;
    font-size: 1em;
    margin: 10px 20px;
}

#inputContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.inputRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap; /* Ensure no wrapping */
}

.inputRow label {
    flex: 1;
    margin-right: 10px;
}

.inputRow input {
    flex: 0 0 100px; /* Ensure input width is fixed */
}

#fileInput,
#submitButton {
    margin-top: 10px;
}

#submitButton {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-family: inherit; /* Use the same font as the rest of the page */
}

#controls {
    display: flex; /* Changed to flex to align buttons horizontally */
    align-items: center;
    justify-content: center; /* Center buttons horizontally */
    margin: 10px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    background-color: #f0f0f0; /* Optional background to make it stand out */
    padding: 10px 0;
}

#controls button {
    width: 30px; /* Smaller width for compactness */
    height: 30px; /* Smaller height for compactness */
    font-size: 16px; /* Smaller font size */
    font-weight: bold;
    background-color: lightgray;
    border: none;
    cursor: pointer;
    margin: 0 5px; /* Small margin between buttons */
}

#controls span {
    font-size: 16px; /* Smaller font size for consistency */
    margin: 0 10px; /* Adjust margin for spacing */
}
